<div class="detail">
 <table width="100%" border="0" cellpadding="5px" cellspacing="0">
            <tr>
                <td>
                    <span>流水号：</span> 
                </td>
                <td>
                   <span name="Sn">
                    </span>
                </td>
            </tr>
             <tr>
                <td>
                    <span>货品名称：</span> 
                </td>
                <td>
                   <span name="GoodsName">
                    </span>
                </td>
            </tr>
           <tr>
                <td>
                    <span>单价：</span> 
                </td>
                <td>
                   <span name="UnitPrice">
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                   <span>数量：</span> 
                </td>
                <td>
                   <span name="Quantity" changeable="true" isdept="true">
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>总价：</span> 
                </td>
                <td>
                   <span name="Amount">
                    </span>
                </td>
            </tr>
             <tr>
                <td>
                    <span>客户姓名：</span> 
                </td>
                <td>
                   <span name="CustomerName">
                    </span>
                </td>
            </tr>
              <tr>
                <td>
                   <span>手机：</span>
                </td>
                <td>
                    <span name="CustomerMobile">
                    </span>
                </td>
            </tr>
            <tr>
                <td class="detail_td">
                    <span>电话/传真：</span>
                </td>
                 <td>
                   <span name="CustomerPhoneFax"></span>
                </td>
            </tr>
        </table>
</div>