<div class="detail">
 <table width="100%" border="0" cellpadding="5px" cellspacing="0">
            <tr>
                <td>
                    <span>流水号：</span> 
                </td>
                <td>
                   <span name="Sn">
                    </span>
                </td>
            </tr>
             <tr>
                <td class="detail_td">
                    <span>申请人姓名：</span> 
                </td>
                <td>
                   <span name="ApplicantName">
                    </span>
                </td>
            </tr>
           <tr>
                <td>
                    <span>贷款金额：</span> 
                </td>
                <td>
                   <span name="LoanValue">
                    </span>
                </td>
            </tr>
        </table>
</div>