html,body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: Arial,Times New Roman, Verdana;
}
h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  margin-top: 0.8em;
  margin-bottom: 0.2em;
}

text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.node rect,.node circle,.node polygon {
  fill:#3E7E9C;
}

.node .label tspan{
  fill: #fff;
}

.edgeLabel .label rect{
  fill: #fff;
}

.edgePath path.path {
  stroke: #89bcde;
  fill: none;
  stroke-width: 1.5px;
}

.viewtitle {
    position: fixed;
    min-height: 20px;
    line-height: 20px;
    background: #fff;
    left: 10px;
    top: 10px;
    z-index: 9;
    padding: 6px 25px 6px 10px;
    box-shadow: 0 0 3px #ccc;
    font-size: 14px;
    border-radius: 3px;
    max-width: 400px;
}

.viewtitle .title {
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    margin-left: 8px;
    margin-right: 10px;
}

.chart-tags .icons {
    font-size: 12px;
    color: #aaa;
    vertical-align: -1px;
}

.chart-tags {
    margin-left: 34px;
    margin-top: 3px;
}

.chart-tag {
    font-size: 12px;
    color: #888;
    display: inline-block;
    margin-right: 6px;
    margin-left: 2px;
}

.chart-des {
    font-size: 12px;
    margin: 3px 0 5px 34px;
    display: none;
    word-break: break-word;
}

.viewtitle .down {
    position: absolute;
    right: 6px;
    top: 8px;
    font-size: 14px;
    cursor: pointer;
    color: #555;
}

.controlls {
    position: fixed;
    right: 0;
    top: 0;
    width: 46px;
    z-index: 1;
    height: 100%;
    background: #fff;
    text-align: center;
    box-shadow: -1px -1px 1px #ddd;
}

.controlls .item {
    margin-bottom: 8px;
    color: #4d4d4d;
    background-color: #fff;
    width: 30px;
    display: inline-block;
    cursor: pointer;
    margin-top: 4px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.controlls .ico_box {
    padding: 7px;
    background: #fff;
}

.controlls .item-count {
    text-align: center;
    font-size: 12px;
    transform: scale(.9);
    color: #888;
    margin-top: -8px;
}

.btn-setting{
  position: fixed;
    min-height: 20px;
    line-height: 20px;
     right: 20px;
    top: 7px;
    z-index: 9;
    padding:6px 10px;
    background-color: #3b4146;
    color: #fff;
    border: 0;
    cursor: pointer;
     -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0!important;
}

.btn-setting i{font-size: 20px;}

@font-face {
  font-family: 'iconfont';  /* project id 749083 */
  src: url('//at.alicdn.com/t/font_749083_4y4u0wa9bb6.eot');
  src: url('//at.alicdn.com/t/font_749083_4y4u0wa9bb6.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_749083_4y4u0wa9bb6.woff') format('woff'),
  url('//at.alicdn.com/t/font_749083_4y4u0wa9bb6.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_749083_4y4u0wa9bb6.svg#iconfont') format('svg');
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}

.aside-container{
    right: 10px;
    padding: 0px 20px 20px 20px;
    position: absolute;
    width: 200px;
    height: auto;
    top: 10px;hhhn
    overflow: hidden;
    z-index: 8;
    background-color: #fff;
    box-shadow: 0 0 3px #ccc;
    font-size: 14px;
    border-radius: 3px;
}

.text-semibold{
    color: #2b425b;
    font-weight: 600;
    font-size: 16px;
}

.mar-btm {
    margin-bottom: 14px;
    font-size: 13px;
    color: #758697;
}

.radio {
     width: 70%;
    float: left;
}

.lable-text{
  width: 30%;
  float: left;
}

.magic-radio+label:after {
    top: 3.5px;
    left: 3.5px;
}

.magic-radio+label:not(:empty) {
    padding: 0 20px 10px 20px!important;
}
hr{
    border: 1px solid #eee;
    border-bottom: 0;
}

.tipsy { font-size: 13px; position: absolute; padding: 5px; z-index: 100000; }
  .tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding:10px; text-align: center; }

  /* Rounded corners */
  .tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
   .tipsy-inner p{margin: 0;font-weight:bold;}
  /* Uncomment for shadow */
  .tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }
  
  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
  
  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }
  
	.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }
